html,
body,
#__nuxt {
  height: 100%;
}

#__nuxt {
  display: flex;
  flex-flow: column;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font: 400 14px/20px "GraphikLCG", "Arial", sans-serif;

  background-color: $white;
  color: $black;

  &.with-modal {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  @include visually-hidden;
}
