$white: #ffffff;
$black: #000000;
$green: #38ab57;
$orange: #ff6b30;
$gray: #c7c3c1;
$brown: #8c7d76;
$ivory: #f8f3f3;
$blackish: #666666;

$padding--mobile: 16px;
$width--mobile: 320px - 2 * 16px + 2 * $padding--mobile;

$padding--tablet: 32px;
$width--tablet: 760px - 2 * 32px + 2 * $padding--tablet;

$padding--notebook: 40px;
$width--notebook: 960px - 2 * 40px + 2 * $padding--notebook;

$padding--desktop: 40px;
$width--desktop: 1280px - 2 * 40px + 2 * $padding--desktop;

$padding--tv: 60px;
$width--tv: 1680px - 2 * 120px + 2 * $padding--tv;
